@import "../node_modules/materialize-css/dist/css/materialize.min.css";

/* MAIN */
.mainContent {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align:center;
  font-size:30px;
  padding-top:20%;
}
main {
  flex: 1 0 auto;
}
.imageFeed {
  height:400px;
  width:600px;
  background-color:rgb(52, 108, 141);
  margin:0 auto;
}
.textFeed {
  height:400px;
  width:600px;
  text-align:center;
  margin:0 auto;
  font-size:16px;
}

/* NAV */


nav{
  background-color:#d6f0ff;
}
.aNav {
  color:black;
}

.liFeed1 {
  border-right:1px solid white;
  color:#3477e2;
  font-weight:700;
}
.liFeed2 {
  border-right:1px solid white;
  color:#3477e2;
  font-weight:700;
}
.liFeed3 {
  border-right:1px solid white;
  color:#3477e2;
  font-weight:700;
}
.page-footer {
  background-color:#d6f0ff;
}

/* FOOTER */
.footerText {
  color:#3477e2;
}
